**_If Elif and Else Statements in Python_**

In [18]:
hungry = input('enter yes if you are hungry otherwise no - ')
if hungry=='yes' or hungry=='Yes' :
    print('I am Hungry')
elif hungry=='no' or hungry=='No':
    print('I am not hungry')
else:
    print("Learn English if u can't read")

enter yes if you are hungry otherwise no - yes
I am Hungry

**_For Loops in Python_**

In [34]:
mylist=[1,2,3,4,5,6,7,8,9]

In [35]:
for num in mylist:
    print('elements')

elements
elements
elements
elements
elements
elements
elements
elements
elements

In [45]:
for num in mylist:
    if num%2==0:
        print(f'even number: {num}')
    else:
        print(f'odd  number: {num}')

odd  number: 1
even number: 2
odd  number: 3
even number: 4
odd  number: 5
even number: 6
odd  number: 7
even number: 8
odd  number: 9

In [58]:
list_sum=0

for hi in mylist:
    list_sum = list_sum + hi
print(list_sum)

45

In [36]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [65]:
tup=(1,2,3)
for _ in tup:
    print(_)

1
2
3

In [66]:
tlist=[(1,2),(3,4),(5,6)]

In [71]:
for item in tlist:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [73]:
for a,b in tlist:
    print(a)
    print(b)

1
2
3
4
5
6

In [81]:
d={'k1':1,'k2':2,'k3':3}
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [82]:
for a,b in d.items():
    print(b)

1
2
3

**_While Loops in Python_**

In [104]:
x=0
while x<5:
    print(f'The number x is {x}')
    x=x+1
else:
    print('x is not less than 5')

The number x is 0
The number x is 1
The number x is 2
The number x is 3
The number x is 4
x is not less than 5

break , continue , pass

In [19]:
#pass is used to creat a situation where error will not be showed and it is used as placeholder
x=[1,2,3]
for item in x:
    #comments
    pass

print('end of my script')

end of my script

In [20]:
mystring='hello'

In [22]:
#continue is used to remove one loop which information was given 
for letter in mystring:
    if letter == 'l':
        continue
    print(letter)

h
e
o

In [34]:
#break is used to stop the loop at certain point alocated
for hi in mystring:
    if hi == 'l':
        break
    print(hi)

h
e

In [42]:
x=0
while x<5:
    if x==2:
        break
    print(x)
    x+=1

0
1

**_Useful Operators in Python_**

In [44]:
mylist=[1,2,3]

In [49]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [53]:
#range - range(starting,end{but not including},step-size)
for num in range(2,10,2):
    print(num)

2
4
6
8

In [58]:
#if we input directly range the output will also be range so to see the elements we can use list
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [63]:
index_count=0
for letter in 'hello':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count+=1

At index 0 the letter is h
At index 1 the letter is e
At index 2 the letter is l
At index 3 the letter is l
At index 4 the letter is o

In [64]:
#so to handle with such a long coding enumerate is used
word='hello'
for item in enumerate(word):
    print(item)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

In [66]:
mylist1=[1,2,3]
mylist2=['a','b','c']

In [69]:
#zip operator is very useful to join to list 
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [70]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [71]:
#method to check if some item is in the list or not 
'x' in [1,2,3]

False

In [73]:
'x' in ['x','y','z']

True

In [74]:
'a' in 'a world'

True

In [75]:
'mykey' in {'mykey':345}

True

In [80]:
d={'mykey':345}
345 in d.values()

True

In [81]:
mylist=[10,20,30,40,50,60,70,80,90,100]

In [82]:
min(mylist)

10

In [83]:
max(mylist)

100

In [88]:
#here we used library for first time in python -build in library where we callled out a function and used it eg.shuffle we can see more by clicking tab
from random import shuffle

In [85]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [106]:
mytry=shuffle(mylist)

In [110]:
#it will not reply with output as shuffle() it is not returning any output
mytry

In [90]:
from random import randint

In [115]:
mytry=randint(1,100)

In [116]:
#as randint is giving output we can assign it to some variable
mytry

90

In [132]:
#we can take input from the user by input function
result=int(input('Fav Number: '))

Fav Number: 9

In [133]:
type(result)

int

In [131]:
#result of old input where int was not mentioned before input function 
type(result)

str

In [125]:
float(result)

9.0

In [126]:
int(result)

9

**_List Comprehensions in Python_**

In [2]:
mystring='hello'

In [9]:
#append is used to add elements in list
mylist=[]
for letter in mystring:
    mylist.append(letter)

In [10]:
mylist

['h', 'e', 'l', 'l', 'o']

In [11]:
#another way to add directly
mylist=[letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [12]:
mylist=[x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [19]:
mylist=[x for x in range(1,11)]
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
#to obtain the square we can apply operations on variable before'for'
mylist=[num**2 for num in range(1,11)]
mylist

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
mylist=[x for x in range(1,11) if x%2==0]
mylist

[2, 4, 6, 8, 10]

In [26]:
celcius=[0,10,20,34.5]
fahrenheit=[((9/5)*temp+32) for temp in celcius]

In [27]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [31]:
#or another method to do it or expadend version 
fahrenheit=[]
for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)

In [32]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [42]:
results=[x if x%2==0 else 'ODD' for x in range(0,11) ]

In [40]:
results

[0, ' ', 2, ' ', 4, ' ', 6, ' ', 8, ' ', 10]

In [46]:
mylist=[]
for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)

In [47]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [48]:
mylist=[x*y for x in [2,4,6] for y in [1,10,100] ]

In [49]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]